h1 {
    font-size: 70px;
    text-align: center;
    color:black;
    margin: 0;
}
#profile {
     width: 450px;
     margin : auto;
     display: block;
     border-radius: 22%;
}
.container {
     display: grid;
     grid-template-columns: 800px 1fr;
}
h2 {
     font-size: 38px;
     text-align: right;
     color: black;
}
ul {
     color:rgb(42, 50, 119);
     font-size: 25px;
     font-weight:inherit;   
     padding-top: 0px;
     padding-left: 10px;
}
.cocolArea {
     display: flex;
}
.cocacolapic {
     width: 280px;
}
body {
    background-color: blanchedalmond;
}    
